# Ignore node_modules
node_modules/

# Ignore directories for operating systems
.DS_Store
Thumbs.db

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore environment variable files
.env

# Ignore temporary files and directories
tmp/
temp/

# Ignore build output directories
dist/
build/