aside.sidebar
  nav.sidebar__nav
    ul
      li.sidebar__item
        a.sidebar__link(href="#")
          img.sidebar__icon(src="images/dashboard.svg" alt="Dashboard Icon")
          span Dashboard
      li.sidebar__item
        a.sidebar__link(href="#")
          img.sidebar__icon(src="images/product.svg" alt="Product Icon")
          span Product
          img.sidebar__arrow(src="images/arrow.svg" alt="Arrow Icon")
      li.sidebar__item
        a.sidebar__link(href="#")
          img.sidebar__icon(src="images/customers.svg" alt="Customers Icon")
          span Customers
          img.sidebar__arrow(src="images/arrow.svg" alt="Arrow Icon")
      li.sidebar__item
        a.sidebar__link(href="#")
          img.sidebar__icon(src="images/income.svg" alt="Income Icon")
          span Income
          img.sidebar__arrow(src="images/arrow.svg" alt="Arrow Icon")
      li.sidebar__item
        a.sidebar__link(href="#")
          img.sidebar__icon(src="images/promote.svg" alt="Promote Icon")
          span Promote
          img.sidebar__arrow(src="images/arrow.svg" alt="Arrow Icon")
      li.sidebar__item
        a.sidebar__link(href="#")
          img.sidebar__icon(src="images/help.svg" alt="Help Icon")
          span Help
          img.sidebar__arrow(src="images/arrow.svg" alt="Arrow Icon")
  .sidebar__footer
    .sidebar__user-info
      img(src="images/user-img.svg" alt="User Avatar" class="sidebar__avatar")
      .sidebar__user-text
        p.sidebar__username Evano
        p.sidebar__role Project Manager