include mixins.pug


+customerRow("Jane Cooper", "Microsoft", "(225) 555-0118", "jane@microsoft.com", "United States", "Active")
+customerRow("Floyd Miles", "Yahoo", "(205) 555-0100", "floyd@yahoo.com", "Kiribati", "Inactive")
+customerRow("Ronald Richards", "Adobe", "(302) 555-0107", "ronald@adobe.com", "Israel", "Inactive")
+customerRow("Marvin McKinney", "Tesla", "(252) 555-0126", "marvin@tesla.com", "Iran", "Active")
+customerRow("Jerome Bell", "Google", "(629) 555-0129", "jerome@google.com", "Réunion", "Active")
+customerRow("Kathryn Murphy", "Microsoft", "(406) 555-0120", "kathryn@microsoft.com", "Curaçao", "Active")
+customerRow("Jacob Jones", "Yahoo", "(208) 555-0112", "jacob@yahoo.com", "Brazil", "Active")
+customerRow("Kristin Watson", "Facebook", "(704) 555-0127", "kristin@facebook.com", "Åland Islands", "Inactive")